@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500;600;700;800&display=swap');

:root {
  --color-bg: #fcfcfc;
  --color-footer: #f4f4f4;
  --color-text: rgba(0, 0, 0, 0.6);
  --color-primary: #4f6d7a;
  --color-primary2: #4f6d7add;
  --color-secondary: #FF0066;
  --color-secondary2: #FF0066dd;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
  font-family: 'Onest', system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-primary2)
}

a:hover {
  color: var(--color-primary)
}

ul,
ol {
  list-style: none;
}

body {
  min-height: 100dvh;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: var(--color-bg);
}

strong {
  font-weight: 600;
}

/* Turns off animation for people who don't want to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

header {
  z-index: 10;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  max-width: 992px;
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--color-bg);
}

.header-logo {
  width: 3rem;
}

.nav-btn {
  display: none;
}

.nav-list {
  display: flex;
  column-gap: 3rem;
}

main {
  padding: 80px 2rem 3rem;
  margin: 0 0 130px;
  max-width: 992px;
}

.hero {
  height: calc(100dvh - 80px);
  display: flex;
  align-items: center;
  align-content: center;
  padding-top: 2rem;
  gap: 2rem;
  justify-content: space-between;
}

.hero-left {
  max-width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-h1 {
  font-size: 32px;
  font-weight: 600;
}

.hero-div_btns {
  display: flex;
  gap: 1rem;
}

.hero-img {
  max-width: 50%;
}

.hero-arrow {
  z-index: 100;
  position: absolute;
  top: 92dvh;
  right: 50%;
  animation: scroll 5s ease infinite;
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(0.5rem);
  }
}

.about {
  display: flex;
  flex-direction: column;
}

.about-h2 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin: 5rem 0 2rem;
}

.about-p {
  margin-bottom: 1rem;
  width: 80%;
  align-self: center;
}

.info {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
}

.info-div {
  min-width: 40%;
}

.info-h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--color-secondary);
}

.info-list {
  margin-top: 0.5rem;
  width: 100%;

  li {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
  }

  span {
    font-weight: 500;
  }
}

.docs-header {
  margin-left: min(0px, 20%);
  max-width: calc(993px + 240px);
}

.docs-footer {
  margin-left: clamp(135px, 20%, 240px);
}

.docs-main {
  margin-left: clamp(135px, 20%, 240px);
  max-width: 992px;
  width: 80%;

  article {

    h2 {
      font-size: 24px;
      font-weight: 600;
      color: var(--color-secondary);
    }

    hr {
      margin: 1rem 0;
    }

    h3 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 0.5rem;
      color: var(--color-secondary2);
    }

    h4 {
      font-size: 18px;
      margin: 2.5rem 0 0.5rem;
      color: var(--color-secondary2);
    }

    p {
      margin-bottom: 0.5rem;
      flex-direction: row;
    }

    ul {
      flex-direction: column;
      margin-bottom: 1rem;

      li {
        list-style: '▪ ' inside;
      }
    }
  }
}

aside {
  z-index: 10;
  position: fixed;
  height: calc(100dvh - 80px);
  min-width: 135px;
  max-width: 250px;
  width: 20%;
  background-color: white;
  top: 80px;
  left: 0px;
  padding: 1rem;
}

details {
  ul {
    padding-left: 0.7rem;
  }
}

summary {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-primary);
}

details summary {
  margin-top: 10px;
  transition: margin 250ms ease-out;
}

details[open] summary {
  margin-bottom: 10px;
}

#intro2,
#lang2,
#movieGETall2,
#movieGETfil2,
#movieGETid2,
#moviePOST2,
#moviePUT2,
#moviePATCH2,
#movieDELETE2,
#serieGETall2,
#serieGETfil2,
#serieGETid2,
#seriePOST2,
#seriePUT2,
#seriePATCH2,
#serieDELETE2,
#quoteGETall2,
#quoteGETfil2,
#quoteGETid2,
#quotePOST2,
#quotePUT2,
#quotePATCH2,
#quoteDELETE2,
#bookGETall2,
#bookGETfil2,
#bookGETid2,
#bookPOST2,
#bookPUT2,
#bookPATCH2,
#bookDELETE2 {
  display: none;
}

:target #intro2,
:target #lang2,
:target #movieGETall2,
:target #movieGETfil2,
:target #movieGETid2,
:target #moviePOST2,
:target #moviePUT2,
:target #moviePATCH2,
:target #movieDELETE2,
:target #serieGETall2,
:target #serieGETfil2,
:target #serieGETid2,
:target #seriePOST2,
:target #seriePUT2,
:target #seriePATCH2,
:target #serieDELETE2,
:target #quoteGETall2,
:target #quoteGETfil2,
:target #quoteGETid2,
:target #quotePOST2,
:target #quotePUT2,
:target #quotePATCH2,
:target #quoteDELETE2,
:target #bookGETall2,
:target #bookGETfil2,
:target #bookGETid2,
:target #bookPOST2,
:target #bookPUT2,
:target #bookPATCH2,
:target #bookDELETE2 {
  display: inherit;
}

.notFound {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.notFound-logo {
  width: 50%;
  margin: 2rem auto;
}

.notFound-h2 {
  font-size: 20px;
}

footer {
  width: 100%;
  height: 130px;
  position: absolute;
  bottom: 0;
  padding: 2rem 1rem 1rem;
  text-align: center;
  background-color: var(--color-footer);
}

.footer-list {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem 2rem;
}

.footer-heart {
  color: var(--color-secondary);
}

.text-black60 {
  color: var(--color-text);
}

pre {
  padding: 1rem;
  margin: 1rem 0;
  width: 60%;
  min-width: fit-content;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #eee;
}

.btn {
  width: 140px;
  height: 60px;
  display: flex;
  padding: 0.6rem 1rem;
  align-items: center;
  border-radius: 0.4rem;
  column-gap: 0.5rem;
  color: white;
}

.primary {
  background-color: var(--color-primary);
}

.primary:hover {
  background-color: var(--color-primary2);
  color: white;
}

.secondary {
  background-color: var(--color-secondary);
}

.secondary:hover {
  background-color: var(--color-secondary2);
  color: white;
}

@media screen and (max-width: 680px) {
  .hero {
    flex-direction: column;
  }

  .hero-left {
    max-width: 65%;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {

  .nav-menu {

    .nav-btn {
      background: transparent;
      border: none;
      outline: none;
      display: block;
      width: 40px;
      height: 40px;
      padding: 10px;
      z-index: 100;
    }

    span {
      display: block;
      width: 100%;
      border-bottom: 2px solid #333;
      margin-bottom: 5px;
    }

    .nav-list {
      position: fixed;
      right: -100%;
      top: 0;
      bottom: 0;
      z-index: 999;
      width: 100dvw;
      background-color: rgba(0, 0, 0, 0.8);
      flex-direction: column;
      row-gap: 2rem;
      justify-content: center;
      align-items: center;

      a {
        color: #fff;
      }
    }

    &.open {
      span {
        &:first-child {
          transform: rotate(-45deg) translate(-5px, 5px)
        }

        &:last-child {
          transform: rotate(45deg)
        }
      }

      .nav-list {
        transform: translateX(-100dvw);
        transition: transform 200ms;
      }
    }
  }

  .docs-header {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .hero-div_btns {
    flex-direction: column;
    margin-top: 2rem;
  }
}